<!DOCTYPE html>
<html>
  <head>
    <title>Connect . </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome To Connect</h1>
    <form action="/signup" method="post">
      <input type="text" name="name"  required placeholder="Username">
      <input type="password" name="password" required placeholder="Password" >
      <input type="submit" value="Login"/>
      <p class="footer">Already Member ? <a href="/LoginPage">Sign Up !</a></p>
    </form>

    
  </body>
</html>
