<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Welcome To Connect    (Login Page)</h1>
    <form action="/LoginPage" method="post">
      <input type="text" name="name"  required placeholder="Username">
      <input type="password" name="password" required placeholder="Password" >
      <input type="submit" value="Login"/>
      <p class="footer">New ? <a href="/">Sign Up !</a></p>
    </form>
    
</body>
</html>